@define-color background-color #1E1E1E;
@define-color border-color #E742E7;
@define-color label #E742E7;
@define-color image #D4D4D4;
@define-color progress #E742E7;

window#osd {
    border-radius: 0px;
    opacity: 1.0;
    border: 4px solid @border-color;
}

label#osd {
  font-size: 11pt;
  color: @label;
}

image#osd {
  color: @image;
}

progressbar#osd {
  border-radius: 0;
    color: @background;
}

progress#osd {
  background-color: @progress;
}
